@import "variables";
@import "global";



.calculator{
    width: calc(min(645px, 90vw));
    height: toRem(770);
    color: $white;
    input{
        margin: 0 0.25rem;
        padding: 0 ;
    }
    label{
        text-align: center;
        font-size: toRem(14);
        margin-bottom: toRem(5);
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: toRem(18);

        .theme{
            display: inherit;

            small{
                text-transform: uppercase;
                margin: auto;
                padding-right: 1rem;
            }
        }
        form{
            display: flex;
            position: relative;
            >div{
                display: flex;
                flex-direction: column-reverse;
            }
            .slider{
                height: 1.5rem;
                width: 4rem;
                border-radius: 2rem;
                position: absolute;
                background: $screenBgBlue;
                bottom: -0.3rem;
                opacity: 0.4;
                pointer-events: none; /*This is the key.*/

            }
        }

    }
    .result{
        height: toRem(155);
        margin: 0.5rem 0;
        background: $screenBgBlue;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-radius: toRem(10);
        overflow: auto;
        h1{
            margin: 0;

        }
    }

    .numbers{
        width: 100%;
        height: toRem(580);
        background: $screenBgBlue;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: Min(1rem, 2em);
        padding: Min(1rem, 2em);
        border-radius: toRem(10);
        

        .two{
            grid-column: span 2;
        }

        button{
            padding: 0;
            height: 5rem;
            font-size: toRem($font);
            cursor: pointer;
            border-radius: toRem(5);
            font-family: $spartan;
            color:$textTheme1 ;
            background: $keyBgLightOrange;
            box-shadow: 0 toRem(5) 0 $keyShadowLightOrange;
        }
        .weird{
            border: none;
            color: $white;
            background: $keyBackgroundT1;
            box-shadow: 0 toRem(5) 0 $keyShadowT1;
        }

        .extra{
            border: none;
            color: $white;
            background: $keyBgRed;
            box-shadow: 0 toRem(5) 0 $keyShadowDarkRed;
        }
    }


}
